body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

.news__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    margin: 10px;
    align-self: auto;
}

.news__item{
  box-shadow: 5px 5px lightgray;
  width: 250px;
  padding: 15px;
  background-color: #FFFFFF; 
  border-radius: 5px;
  border: 2px solid;
  border-top-width: 5px;
  border-top-color: green;
}

.news__list img{
  width: 200px;
  height: 200px;
}

li{
  list-style: none;
}

.news{
    text-align: center;
}

.news__list .title{
    font-weight: bold;
    font-size: large;
}